/* text glow */

body {
  background: rgba(0, 0, 0, 1);
  width: 100%;
  height: 100%;
}

.glow, .reverse-glow {
  transition: all 0.3s linear;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-family: ubuntu;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 5em;
}


.glow:hover {
  text-shadow:
    0 0 0.9em rgba(255, 255, 255, 0.1),
    0 0 1.1em rgba(255, 255, 255, 0.2),
    0 0 1.3em rgba(255, 255, 255, 0.3),
    0 0 1.5em rgba(255, 255, 255, 0.3),
    0 0 1.7em rgba(255, 255, 255, 0.4),
    0 0 1.9em rgba(255, 255, 255, 0.4),
    0 0 2.1em rgba(255, 255, 255, 0.4),
    0 0 2.3em rgba(255, 255, 255, 0.4),
    0 0 2.5em rgba(255, 255, 255, 0.4),
    0 0 2.7em rgba(255, 255, 255, 0.4),
    0 0 2.9em rgba(255, 255, 255, 0.4),
    0 0 3.1em rgba(255, 255, 255, 0.4),
    0 0 3.3em rgba(255, 255, 255, 0.4),
    0 0 3.5em rgba(255, 255, 255, 0.4),
    0 0 3.7em rgba(255, 255, 255, 0.4),
    0 0 3.9em rgba(255, 255, 255, 0.4);    
}


.reverse-glow:hover {
  text-shadow:
    0 0 0.1em rgba(255, 255, 255, 0.4),
    0.1em 0.1em 0.2em rgba(255, 255, 255, 0.5),
    -0.1em -0.1em 0.2em rgba(255, 255, 255, 0.5),
    0.2em 0.2em 0.3em rgba(255, 255, 255, 0.6),
    -0.2em -0.2em 0.3em rgba(255, 255, 255, 0.6),
    0.3em 0.3em 0.4em rgba(255, 255, 255, 0.7),
    -0.3em -0.3em 0.4em rgba(255, 255, 255, 0.7),
    0.4em 0.4em 0.5em rgba(255, 255, 255, 0.8),
    -0.4em -0.4em 0.5em rgba(255, 255, 255, 0.8);
}

 /*
.glow:hover {
  text-shadow:
    0 0 1px rgba(255, 255, 255, 0.2),
    0 0 3px rgba(255, 255, 255, 0.2,
    0 0 5px rgba(255, 255, 255, 0.2),
    0 0 7px rgba(255, 255, 255, 0.2),
    0 0 9px rgba(255, 255, 255, 0.2),
    0 0 11px rgba(255, 255, 255, 0.2),
    0 0 13px rgba(255, 255, 255, 0.2),
    0 0 15px rgba(255, 255, 255, 0.2),
    0 0 17px rgba(255, 255, 255, 0.2),
    0 0 19px rgba(255, 255, 255, 0.2),
    0 0 21px rgba(255, 255, 255, 0.2),
    0 0 23px rgba(255, 255, 255, 0.2),
    0 0 25px rgba(255, 255, 255, 0.2),
    0 0 27px rgba(255, 255, 255, 0.2),
    0 0 29px rgba(255, 255, 255, 0.2),
    0 0 31px rgba(255, 255, 255, 0.2),
    0 0 33px rgba(255, 255, 255, 0.2),
    0 0 35px rgba(255, 255, 255, 0.2),
    0 0 37px rgba(255, 255, 255, 0.2),
    0 0 39px rgba(255, 255, 255, 0.2),
    0 0 41px rgba(255, 255, 255, 0.2),
    0 0 43px rgba(255, 255, 255, 0.2),
    0 0 45px rgba(255, 255, 255, 0.2),
    0 0 47px rgba(255, 255, 255, 0.2),
    0 0 49px rgba(255, 255, 255, 0.2),
    0 0 51px rgba(255, 255, 255, 0.2),
    0 0 53px rgba(255, 255, 255, 0.2),
    0 0 55px rgba(255, 255, 255, 0.2);
   
    0 0 -55px rgba(255, 255, 255, 0.4),
    0 0 -53px rgba(255, 255, 255, 0.4),
    0 0 -51px rgba(255, 255, 255, 0.4),
    0 0 -49px rgba(255, 255, 255, 0.4),
    0 0 -47px rgba(255, 255, 255, 0.4),
    0 0 -45px rgba(255, 255, 255, 0.4),
    0 0 -43px rgba(255, 255, 255, 0.4),
    0 0 -41px rgba(255, 255, 255, 0.4),
    0 0 -39px rgba(255, 255, 255, 0.4),
    0 0 -37px rgba(255, 255, 255, 0.4),
    0 0 -35px rgba(255, 255, 255, 0.4),
    0 0 -33px rgba(255, 255, 255, 0.4),
    0 0 -31px rgba(255, 255, 255, 0.4),
    0 0 -29px rgba(255, 255, 255, 0.4),
    0 0 -27px rgba(255, 255, 255, 0.4),
    0 0 -25px rgba(255, 255, 255, 0.4),
    0 0 -23px rgba(255, 255, 255, 0.4),
    0 0 -21px rgba(255, 255, 255, 0.4),
    0 0 -19px rgba(255, 255, 255, 0.4),
    0 0 -17px rgba(255, 255, 255, 0.4),
    0 0 -15px rgba(255, 255, 255, 0.4),
    0 0 -13px rgba(255, 255, 255, 0.4),
    0 0 -11px rgba(255, 255, 255, 0.4);
    
}

*/