/* Triangles */
.sms-divider-triangle-white {
  overflow: hidden;
  height: 70px;
  position: relative;
  background: gray;
}

.placeholder { background: black; }
.placeholder::after {
  left: 50%;
  width: 100px;
  height: 100px;
  -webkit-transform: translateX(-50%) rotate(-45deg);
  transform: translateX(-50%) rotate(-45deg);
  position: absolute;
  content: '';
  pointer-events: none;
  top: -50px;
  z-index: 10;
  background: green;
  /*border-radius: 100% 100% 100% 100% / 50% 50% 50% 50%;*/
  border-bottom-left-radius: 20px;
}