body {
  background: rgba(0, 0, 0, 1);
  width: 100%;
  height: 100%;
}

.glow, .reverse-glow {
  transition: all 0.25s ease-in-out;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-family: ubuntu;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 4em;
  padding: 0em;
}

/*
.glow:hover {
  text-shadow:
    0 0 0.9em rgba(255, 255, 255, 0.1),
    0 0 1.1em rgba(255, 255, 255, 0.2),
    0 0 1.3em rgba(255, 255, 255, 0.3),
    0 0 1.5em rgba(255, 255, 255, 0.4),
    0 0 1.7em rgba(255, 255, 255, 0.5),
    0 0 1.9em rgba(255, 255, 255, 0.5),
    0 0 2.1em rgba(255, 255, 255, 0.5),
    0 0 2.3em rgba(255, 255, 255, 0.5),
    0 0 2.5em rgba(255, 255, 255, 0.5),
    0 0 2.7em rgba(255, 255, 255, 0.5),
    0 0 2.9em rgba(255, 255, 255, 0.5),
    0 0 3.1em rgba(255, 255, 255, 0.5),
    0 0 3.3em rgba(255, 255, 255, 0.5),
    0 0 3.5em rgba(255, 255, 255, 0.5),
    0 0 3.7em rgba(255, 255, 255, 0.5),
    0 0 3.9em rgba(255, 255, 255, 0.5);
/*
    0 0 4.1em rgba(255, 255, 255, 0.5),
    0 0 4.3em rgba(255, 255, 255, 0.5),
    0 0 4.5em rgba(255, 255, 255, 0.5),
    0 0 4.7em rgba(255, 255, 255, 0.5),
    0 0 4.9em rgba(255, 255, 255, 0.5),
    0 0 5.1em rgba(255, 255, 255, 0.5),
    0 0 5.3em rgba(255, 255, 255, 0.5),
    0 0 5.5em rgba(255, 255, 255, 0.5),
    0 0 5.7em rgba(255, 255, 255, 0.4),
    0 0 5.9em rgba(255, 255, 255, 0.3),
    0 0 6.1em rgba(255, 255, 255, 0.2),
    0 0 6.3em rgba(255, 255, 255, 0.1);
}

*/


.glow:hover {
  text-shadow:
    0 0 1px rgba(255, 255, 255, 0.1),
    0 0 3px rgba(255, 255, 255, 0.1),
    0 0 5px rgba(255, 255, 255, 0.1),
    0 0 7px rgba(255, 255, 255, 0.1),
    0 0 9px rgba(255, 255, 255, 0.1),
    0 0 11px rgba(255, 255, 255, 0.1),
    0 0 13px rgba(255, 255, 255, 0.1),
    0 0 15px rgba(255, 255, 255, 0.1),
    0 0 17px rgba(255, 255, 255, 0.2),
    0 0 19px rgba(255, 255, 255, 0.2),
    0 0 21px rgba(255, 255, 255, 0.2),
    0 0 23px rgba(255, 255, 255, 0.2),
    0 0 25px rgba(255, 255, 255, 0.2),
    0 0 27px rgba(255, 255, 255, 0.2),
    0 0 29px rgba(255, 255, 255, 0.2),
    0 0 31px rgba(255, 255, 255, 0.2),
    0 0 33px rgba(255, 255, 255, 0.2),
    0 0 35px rgba(255, 255, 255, 0.2),
    0 0 37px rgba(255, 255, 255, 0.3),
    0 0 39px rgba(255, 255, 255, 0.3),
    0 0 41px rgba(255, 255, 255, 0.5),
    0 0 43px rgba(255, 255, 255, 0.5),
    0 0 45px rgba(255, 255, 255, 0.5),
    0 0 47px rgba(255, 255, 255, 0.5),
    0 0 49px rgba(255, 255, 255, 0.5),
    0 0 51px rgba(255, 255, 255, 0.5),
    0 0 53px rgba(255, 255, 255, 0.5),
    0 0 55px rgba(255, 255, 255, 0.5),
    0 0 57px rgba(255, 255, 255, 0.5),
    0 0 59px rgba(255, 255, 255, 0.5),
    0 0 61px rgba(255, 255, 255, 0.5),
    0 0 63px rgba(255, 255, 255, 0.5),
    0 0 65px rgba(255, 255, 255, 0.5),
    0 0 67px rgba(255, 255, 255, 0.5),
    0 0 69px rgba(255, 255, 255, 0.5),
    0 0 71px rgba(255, 255, 255, 0.5),
    0 0 73px rgba(255, 255, 255, 0.7),
    0 0 75px rgba(255, 255, 255, 0.7),
    0 0 77px rgba(255, 255, 255, 0.7),
    0 0 79px rgba(255, 255, 255, 0.7),
    0 0 81px rgba(255, 255, 255, 0.7),
    0 0 83px rgba(255, 255, 255, 0.7),
    0 0 85px rgba(255, 255, 255, 0.7),
    0 0 87px rgba(255, 255, 255, 0.7),
    0 0 89px rgba(255, 255, 255, 0.7);
  /*
    0 0 91px rgba(255, 255, 255, 0.7),
    0 0 93px rgba(255, 255, 255, 0.7),
    0 0 95px rgba(255, 255, 255, 0.7),
    0 0 97px rgba(255, 255, 255, 0.7),
    0 0 99px rgba(255, 255, 255, 0.7),
    0 0 101px rgba(255, 255, 255, 0.5),
    0 0 103px rgba(255, 255, 255, 0.5),
    0 0 105px rgba(255, 255, 255, 0.5),
    0 0 107px rgba(255, 255, 255, 0.5);
  /*
    0 0 1px rgba(255, 255, 255, 0.3),
    0 0 3px rgba(255, 255, 255, 0.3),
    0 0 5px rgba(255, 255, 255, 0.3),
    0 0 7px rgba(255, 255, 255, 0.3),
    0 0 9px rgba(255, 255, 255, 0.3),
    0 0 11px rgba(255, 255, 255, 0.3),
    0 0 13px rgba(255, 255, 255, 0.3),
    0 0 15px rgba(255, 255, 255, 0.3),
    0 0 17px rgba(255, 255, 255, 0.3),
    0 0 19px rgba(255, 255, 255, 0.3),
    0 0 21px rgba(255, 255, 255, 0.3),
    0 0 23px rgba(255, 255, 255, 0.3),
    0 0 25px rgba(255, 255, 255, 0.3),
    0 0 27px rgba(255, 255, 255, 0.3),
    0 0 29px rgba(255, 255, 255, 0.3),
    0 0 31px rgba(255, 255, 255, 0.3),
    0 0 33px rgba(255, 255, 255, 0.3),
    0 0 35px rgba(255, 255, 255, 0.3),
    0 0 37px rgba(255, 255, 255, 0.3),
    0 0 39px rgba(255, 255, 255, 0.3),
    0 0 41px rgba(255, 255, 255, 0.3),
    0 0 43px rgba(255, 255, 255, 0.3),
    0 0 45px rgba(255, 255, 255, 0.3),
    0 0 47px rgba(255, 255, 255, 0.3),
    0 0 49px rgba(255, 255, 255, 0.3),
    0 0 51px rgba(255, 255, 255, 0.3),
    0 0 53px rgba(255, 255, 255, 0.3),
    0 0 55px rgba(255, 255, 255, 0.3),
    0 0 57px rgba(255, 255, 255, 0.3),
    0 0 59px rgba(255, 255, 255, 0.3),
    0 0 61px rgba(255, 255, 255, 0.3),
    0 0 63px rgba(255, 255, 255, 0.3),
    0 0 65px rgba(255, 255, 255, 0.3),
    0 0 67px rgba(255, 255, 255, 0.3),
    0 0 69px rgba(255, 255, 255, 0.3),
    0 0 71px rgba(255, 255, 255, 0.3),
    0 0 73px rgba(255, 255, 255, 0.3),
    0 0 75px rgba(255, 255, 255, 0.3),
    0 0 77px rgba(255, 255, 255, 0.3),
    0 0 79px rgba(255, 255, 255, 0.3),
    0 0 81px rgba(255, 255, 255, 0.3),
    0 0 83px rgba(255, 255, 255, 0.3);
    /*
    0 0 -55px rgba(255, 255, 255, 0.4),
    0 0 -53px rgba(255, 255, 255, 0.4),
    0 0 -51px rgba(255, 255, 255, 0.4),
    0 0 -49px rgba(255, 255, 255, 0.4),
    0 0 -47px rgba(255, 255, 255, 0.4),
    0 0 -45px rgba(255, 255, 255, 0.4),
    0 0 -43px rgba(255, 255, 255, 0.4),
    0 0 -41px rgba(255, 255, 255, 0.4),
    0 0 -39px rgba(255, 255, 255, 0.4),
    0 0 -37px rgba(255, 255, 255, 0.4),
    0 0 -35px rgba(255, 255, 255, 0.4),
    0 0 -33px rgba(255, 255, 255, 0.4),
    0 0 -31px rgba(255, 255, 255, 0.4),
    0 0 -29px rgba(255, 255, 255, 0.4),
    0 0 -27px rgba(255, 255, 255, 0.4),
    0 0 -25px rgba(255, 255, 255, 0.4),
    0 0 -23px rgba(255, 255, 255, 0.4),
    0 0 -21px rgba(255, 255, 255, 0.4),
    0 0 -19px rgba(255, 255, 255, 0.4),
    0 0 -17px rgba(255, 255, 255, 0.4),
    0 0 -15px rgba(255, 255, 255, 0.4),
    0 0 -13px rgba(255, 255, 255, 0.4),
    0 0 -11px rgba(255, 255, 255, 0.4);
    */
}


.reverse-glow:hover {
  text-shadow:
    0 0 0.1em rgba(255, 255, 255, 0.4),
    0.1em 0.1em 0.2em rgba(255, 255, 255, 0.5),
    -0.1em -0.1em 0.2em rgba(255, 255, 255, 0.5),
    0.2em 0.2em 0.3em rgba(255, 255, 255, 0.6),
    -0.2em -0.2em 0.3em rgba(255, 255, 255, 0.6),
    0.3em 0.3em 0.4em rgba(255, 255, 255, 0.7),
    -0.3em -0.3em 0.4em rgba(255, 255, 255, 0.7),
    0.4em 0.4em 0.5em rgba(255, 255, 255, 0.8),
    -0.4em -0.4em 0.5em rgba(255, 255, 255, 0.8);
}