[user]
    name = Ryan McQuen
    email = rmcquen@funko.com
[core]
    excludesfile = ~/.gitignore_global
[merge]
    tool = smerge
[diff]
    tool = smerge
[init]
    templatedir = ~/.git-templates
[pager]
    branch = false
[mergetool "smerge"]
    cmd = smerge mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
    trustExitCode = true
[difftool "smerge"]
    cmd = smerge \"$BASE\" \"$LOCAL\" \"$REMOTE\"
