[user]
    name = Ryan McQuen
    email = rmcquen@funko.com
[core]
    excludesfile = /Users/rmcquen/.gitignore_global
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = "code --wait $MERGED"
[mergetool "sourcetree"]
    cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = "code --wait --diff $LOCAL $REMOTE"
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =
[init]
    templatedir = ~/.git-templates
[pager]
    branch = false