.input {
    display: none;
}

.output {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-family: monospace;
    font-size: 105%;
    height: 5vh;
}

.output::after {
    content: "|";
    font-size: 110%;
    top: -1px;
    position: relative;
    animation: blink 0.6s steps(3, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}
