/**
*** scrolly service box
**/


.scrolly-service-box {
  width: 300px;
  height: 200px;
  margin: 2px;
  margin-top: 40px;
  border: 3px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  cursor: default;
  background: #ffffff;		
}

.scrolly-service-box .mask, .scrolly-service-box .content {
  width: 300px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.scrolly-service-box img {
  display: block;
  position: relative;
  border: 0px solid #FFFFFF !important;
}
		
.scrolly-service-box h2 {
  text-transform: uppercase;
  -epub-text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 20px;
  padding: 5px;
  margin: 20px 0 0 0;
}

.scrolly-service-box p {    
  font-size: 14px;
  position: relative;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

/* effect */
.scrolly-service-box-third img {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.scrolly-service-box-third .mask {
  background-color: rgba(71,58,46,0.6);
  opacity: 1;
  -webkit-transform: translate(0px, 165px);
  -moz-transform: translate(0px, 165px);
  -o-transform: translate(0px, 165px);
  transform: translate(0px, 165px);
  -webkit-transition: all 0.3s 0.2s linear;
  -moz-transition: all 0.3s 0.2s linear;
  -o-transition: all 0.3s .2s linear;
  transition: all 0.3s .2s linear;
}
.scrolly-service-box-third h2 {
  -webkit-transform: translateY(-22px);
  -moz-transform: translateY(-22px);
  -o-transform: translateY(-22px);
  transform: translateY(-22px);
  color: #ffffff;
  background: rgba(71, 58, 46, 0.4);
  -webkit-transition: all 0.4s 0.1s linear;
  -moz-transition: all 0.4s 0.1s linear;
  -o-transition: all 0.4s 0.1s linear;
  transition: all 0.4s 0.1s linear;
}

.scrolly-service-box-third p {
  -webkit-transform: translateY(-23px);
  -moz-transform: translateY(-23px);
  -o-transform: translateY(-23px);
  transform: translateY(-23px);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

 /* hover */

.scrolly-service-box-third:hover .mask {
  opacity: 1;
  background-color: rgba(71,58,46,0.8);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.scrolly-service-box-third:hover h2 {
  background: rgba(71,58,46,0.6);
  color: #ed9e27;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.scrolly-service-box-third:hover p {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}