/**
 * pure css checkmark
 */


.system-checkmark {
  font-size: 0.1rem;
  padding-top: 2.75rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.2rem;
  border-color: hsl(0, 0%, 40%);
  box-shadow: 0 0 0.5rem hsl(0, 0%, 20%);
}
  
  
.system-checkmark:after {
  font-size: 4rem;
  font-weight: 100;
  position: relative;
  content: "✓";
  top: -0.5rem;
  left: 0.35rem;
}