/* awesome card */

@list-color: #000000;
@front-card-back: #156AEA;
@front-p: #ffffff;
@back-p: #000000;

container {
  -webkit-perspective: 1000;
}
.card-content {
  padding: 10px;
}
.card-content h2 {
  width: 180px;
  font-size: 24px;
  margin: 0;
}
.card-content ul {
  margin: 0.75em 0;
  padding: 0 1em;
  list-style: none;
}

.card-content ul li {
  width: 200px;
  font-family: sans-serif;
  font-weight: 100;
  color: @list-color;
}

.card-content li:before {
  content: "";
  border-color: transparent #111111;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

.container {
  width: 280px;
  height: 280px;
  float: left;
  list-style: none;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}
.container div {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
  /*hide the card that is behind (3D API)*/
  -webkit-backface-visibility: hidden;
  box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  overflow: hidden;
}

.container:hover .front {
  z-index: 2;
  /*flip to back*/
  -webkit-transform: rotateY(180deg);
  transform:rotateY(180deg);
}

.container:hover .back {
  z-index: 1;
  /*flip to front*/
  -webkit-transform: rotateY(0deg);
  transform:rotateY(0deg);
}

.front {
  background: #910294;
  background: @front-card-back;
  /* put "front" content above flipped back content */
  z-index: 3;
  color: #ffffff;
}

.back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: rgba(220, 220, 220, 0.9);
  z-index: 2;
}

p {
  margin: 0 auto;
  display: block;
  font-weight: 400;
  position: relative;
  font-size: .85em;
  margin-top: 0px;
  width: 200px;
  padding: 25px;
  text-align: center;
}
.front p {
  color: @front-p;
}

.back p {
  color: @back-p;
  text-align: left;
}

span.front-title, span.front-subtitle {
  font-weight: 100;
  display: block;
  font-family: sans-serif;
}
span.front-title {
  font-size: 2em;
}
span.price {
  top: 30px;
  position: relative;
  font-family: georgia, serif;
  font-size: 2.5em;
}

.back p {
  margin-left: 10px;
  width: 180px;
}

.emboss {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 2px 3px;
}
img.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}

button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}